$darkgrey = #2b2b2b
$grey = rgb(59, 63, 65)
$lightgrey = rgb(187, 187, 187)
$lightborder = rgb(75, 75, 75)
$darkborder = rgb(50, 50, 50)
$green = #a0bc5f
$yellow = #e1b063
$blue = rgb(58, 122, 137)
$orange = #cc7832
$darkgreen = #658055
$purple = #9171a1
$blue-tab-bar = rgb(56, 71, 85)
